body{
    background: url('../images/background-hundred-dollars-scattered-table_76263-6.webp');
    background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#container{
    background: #d6edb0;
    opacity: 0.8;
    width: 600px;
	color: white;
	padding: 20px;
    margin: auto;
}

h1{
    color: #000000;
    text-align: center;
    font-family: 'Vollkorn SC', serif;
}

h2{
    margin: auto;
    background: black;
    color: white;
    width: 400px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-family: 'Rubik Maze', cursive;
}

p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Josefin Sans', sans-serif;
}

iframe{
    display: block;
    margin: auto;
}

a{
    text-decoration: none;
}